      <img>
      <nav>
        {{!-- {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}} --}}
        <button></button>
      </nav>