<article>
    
    <h3>{{order_number}}</h3>
    
    <div>
      {{!-- each product info comes here --}}
      {{#each order_product}}
      {{>product}}
      {{/each}}
    </div>
    
    <p>Total: {{price}}</p>
</article>