<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>dEv-Commerce</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-sky-400">
  {{!-- <div class="container"> --}}
  <header>
    <nav class="text-right p-2 bg-sky-900 text-sky-200">
      <a href="/profile" class="mx-3">My Profile</a>
      {{#if loggedIn}}
      <button id="logoutBtn" class="mx-3">Logout</button>
      {{else}}
      <a href="/" class="mx-3">Login</a>
      {{/if}}
    </nav>
  </header>

  <main class="m-32">
    {{{ body }}}
  </main>

  <footer class="p-2 bg-sky-900 text-sky-200 fixed bottom-0 w-screen">
    {{> footer}}
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
