<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dEv-Commerce</title>
</head>
<body>
    <header>
        <i>icon</i>
        <h1>dEv-Commerce</h1>
    </header>

    {{{ body }}}
    
</body>
</html>