<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>dEv-Commerce</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <h1>
          <a href="/">dEv Commerce</a>
        </h1>
        <nav>
          <a href="/profile">My Profile</a>
          {{#if loggedIn}}
          <a href="/order">My Order</a>
          <button id="logoutBtn">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      {{> footer}}
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>