<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>dEv-Commerce</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-sky-400">
  <header class="px-1 sm:px-3 md:px-4 py-2 bg-sky-900 text-sky-200 flex justify-between md:sticky top-0">
    <a href="/" class="w-12">
      <image src="/images/dEv-Commerce_logo.png" alt="dEv Commerce application's logo"></image>
    </a>
    <nav class="py-1 md:py-2">
      <a href="/profile" class="mx-1 md:mx-2">My Profile</a>
      {{#if loggedIn}}
      <a href="/order">My Orders</a>
      <button id="logoutBtn" class="mx-1 md:mx-2">Logout</button>
      {{else}}
      <a href="/login" class="mx-1 md:mx-2">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{ body }}}
  </main>

  {{!-- <footer class="p-2 bg-sky-900 text-sky-200 fixed bottom-0 w-screen"> --}}
    <footer id="footer" class="p-2 bg-sky-900 text-sky-200">
      <div>Nodiacworks &copy; 2022</div>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>