<form class="checkout-form">
  <div>
      <h2>Credit Card Information:</h2>
    <input type="text" id="cc-number-checkout" placeholder="CREDIT CARD NUMBER" />
    <input type="text" id="exp-checkout" placeholder="EXP" />
    <input type="text" id="cvc-checkout" placeholder="CVC" />
  </div>
   <div>
      <h2>Shipping Address:</h2>
    <input type="text" id="street-address-checkout" placeholder="STREET ADDRESS" />
    <input type="text" id="postal-code-checkout" placeholder="POSTAL CODE" />
    <input type="text" id="province-checkout" placeholder="PROVINCE/STATE" />
    <input type="text" id="country-checkout" placeholder="PROVINCE/STATE" />
  </div>
   <div>
      <h2>Credit Card Information</h2>
    <input type="text" id="street-address-checkout" placeholder="CREDIT CARD NUMBER" />
    <input type="text" id="exp-checkout" placeholder="EXP" />
    <input type="text" id="cvc-checkout" placeholder="CVC" />
  </div>
  
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

{{!-- <script src="/javascript/login.js"></script>