<header>
    <h1>Welcome to</h1>
    <image>dEv-Commerce icon</image>
</header>
<section>
    <article>
        <h2>Product Search:</h2>
        <form class="search-form">
            <input type="text" id="search" name="search" placeholder="SEARCH" />
            <label>Preferred Currency:</label>
            <input type="text" id="currency" name="currency" placeholder="PREFERRED CURRENCY"
            <button type="submit">Search</button>
        </form>
    </article>

    <article>
        <h2>Login:</h2>
        <form class="login-form">
            <input type="email" id="email" name="email" placeholder="EMAIL" />
            <input type="password" id="password" name="password" placeholder="PASSWORD" />
            <button type="submit">Login</button>
        </form>
        <a href="/signup">Sign up?</a>
    </article>

    <a href="/sell-product">Want To Sell Something?</a>
</section>