<form class="login-form">
  <div>
    <h2>Login:</h2>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
<div>
    <h2>Not a Member? Sign up!</h2>
    <button type="button">Sign up</button>
</div>



{{!-- <script src="/javascript/login.js"></script> --}}