<div class="md:my-16 lg:my-44">
  <section class="md:flex md:justify-center mt-3">
    <form id="loginForm" class="mt-8 mx-7 w-12/12">
      <h2 class="text-3xl text-center sm:text-left">Login</h2>
      <div class="p-2 text-lg">
        <div class="m-1 flex flex-col">
          <label for="email-login">Email:</label>
          <input type="text" id="email-login" name="email-login" />
        </div>
        <div class="m-1 flex flex-col">
          <label for="password-login">Password:</label>
          <input type="password" id="password-login" name="password-login" />
        </div>
        <div class="m-1">
          <button type="submit" class="mt-3 px-3 py-1 bg-stone-200 text-stone-700 rounded hover:bg-sky-900 hover:text-sky-200">
            Login
          </button>
        </div>
      </div>
    </form>

    <div class="mt-8 pl-5 w-12/12">
      <h2 class="text-2xl mb-3">Not a Member? Sign up!</h2>
      <a href="/signup" class="underline text-blue-800 text-lg">
        Sign up
      </a>
    </div>
  </section>
</div>

<script src="/javascript/login.js"></script>
