<form id="searchForm">
  <div>
    <label for="search-category">Select a Category to Search from:</label>
    <select name="search-category" id="search-category">
      <option value="1">Hardware</option>
      <option value="2">Software</option>
    </select>
  </div>
  <div>
    <button id="searchFormBtn" type="submit">Search</button>
  </div>
</form>

<script src="/javascript/search.js"></script>