{{#if products.length}}
<h2>Search Results for {{title}}</h2>
<ul class="existingListings">
  {{#each products as |product|}}
  <li>
    {{> product product}}
    <a class="viewProductBtn" href="/search/product/{{product.id}}">View Product</a>
  </li>
  {{/each}}
</ul>
{{/if}}