{{#if products.length}}
<h3>My Existing Listings</h3>
<ul class="existingListings">
  {{#each products as |product|}}
  <li>
    {{> product product}}
    <a class="viewProductBtn" href="/search/product/{{product.id}}">View Product</a>
    <a href="/order/product/{{product.id}}">Order Product</a>
  </li>
  {{/each}}
</ul>
{{/if}}

<script src="/javascript/order.js"></script>