{{#if products.length}}
<h3>My Existing Listings</h3>
<ul class="existingListings">
  {{#each products as |product|}}
  <li>
    {{> product product}}
    <a class="viewProductBtn" href="/profile/product/{{product.id}}">View Product</a>
  </li>
  {{/each}}
</ul>
{{/if}}

{{!--
<script src="/javascript/login.js"></script> --}}