<section class="my-20">
  <h1 class="text-5xl text-center text-sky-900">
    Welcome To
  </h1>
  <div class="flex justify-center mt-2">
    <a href="/" class="w-2/12">
      <image src="/images/dEv-Commerce_logo.png" alt="dEv Commerce application's logo"></image>
    </a>
  </div>
</section>

<section >
  <h2>Search by Category</h2>
  <form id="searchForm">
    <div>
      <label for="search-category">Select a Category to Search from:</label>
      <select name="search-category" id="search-category">
        <option value="1">Hardware</option>
        <option value="2">Software</option>
      </select>
    </div>
    <button id="searchFormBtn" type="submit">Search</button>
  </form>
</section>
<form id="tagSearch">
  <div>
    <label>Select A Tag to Search From:</label>
    <select name="search-tag" id="search-tag">
      {{#each tags}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
    <button id="searchTagBtn" type="submit">Search</button>
  </div>
</form>

<script src="/javascript/search.js"></script>