{{!-- unused --}}
{{!-- <section>
  <div>
    <div>
      <h2>Items To List For Sale:</h2>
    </div>
    <div>
      {{!-- each product info comes here --}}
      {{#each shopping_cart}}
      {{>cart-item}}
      {{/each}}
    </div>
  </div>
  <button class="cart">
    <span>Add to Cart</span>
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
  </button> 
  <div>
</section> --}}

{{!-- <script src="/javascript/login.js"></script> --}}