<form class="signup-form">
  <div>
    <label for="first-name-signup">first-name:</label>
    <input type="text" id="first-name-signup" />
  </div>
  <div>
    <label for="last-name-signup">last-name:</label>
    <input type="text" id="last-name-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
   <div>
    <label for="re-password-signup">re-enter-password:</label>
    <input type="password" id="re-enter-password-signup" />
  </div>
   <div>
    <label for="currency-signup">preferred-currency:</label>
    <input type="password" id="preferred-currency-signup" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

{{!-- <script src="/javascript/login.js"></script>
<script src="/javascript/add-post.js"></script> --}}