<div class="my-3 sm:my-3 px-1 sm:p-3">
  <section class="bg-sky-100 mt-1 lg:mt-4">
    {{#if products.length}}
    <ul class="existingListings p-2 sm:p-3">
        {{#each products as |product|}}
        <li class="p-1 sm:p-3 mb-3 bg-white border border-slate-200">
            {{> product product}}
            {{#if loggedIn}}
            <button id="orderProductBtn" class="viewProductBtn px-3 py-1 bg-stone-400 text-stone-900 rounded hover:bg-sky-900 hover:text-sky-200">Order Product</button>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if loggedIn}}
    <script src="/javascript/order.js"></script>
    {{/if}}
  </section>
</div>