{{!-- not functioning --}}
<form class="start-up-form">
  <div>
    <h2>Product Search:</h2>
    <label for="hardware-start-up">HARDWARE:</label>
    <input type="text" id="hardware-start-up" />
  </div>
  <div>
    <label for="software-start-up">SOFTWARE:</label>
    <input type="text" id="software-start-up" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div>
    <h2>Login:</h2>
    <label for="email-start-up">EMAIL:</label>
    <input type="text" id="email-start-up" />
  </div>
  <div>
    <label for="password-start-up">PASSWORD:</label>
    <input type="password" id="password-start-up" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div>
    <h2>Preferred Currency:</h2>
    <label for="preferred-currency-start-up">CAD,USD,ETC:</label>
    <input type="password" id="re-enter-preferred-currency-start-up" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div>
    <h2>Not a Member? Sign up!</h2>
    <button type="submit">Sign up</button>
  </div>
  <div>
    <h2>Want To Sell Something?</h2>
    <button type="submit">Sell</button>
  </div>

</form>

<script src="/javascript/login.js"></script>