<section class="my-3 ml-3 p-3 grid grid-cols-12">
  <div class="col-span-12 sm:col-span-3 lg:col-span-2">
    <h2 class="text-3xl">Wishlist</h2>
  </div>
  <div class="bg-sky-100 mt-2 sm:ml-4 col-span-12 sm:col-span-9 lg:col-span-7 xl:col-span-6">
    {{#if wishlists.length}}
    <ul id="wishlist" class="p-2 sm:p-3">
      {{#each wishlists as |item|}}
      <li data-id="{{id}}" class="grid grid-cols-12 p-1 mb-3 bg-white border border-slate-200">
        {{>order-partial item}}
        <div class="col-span-12 sm:col-span-3 self-center mx-auto sm:mx-0">
          <div class="my-1">
            <a class="viewProductBtn px-3 py-1 bg-stone-400 text-stone-900 rounded hover:bg-sky-900 hover:text-sky-200" href="/search/product/{{id}}">View Product</a>
          </div>
          <button id="wishlistDeleteBtn" class="my-1 px-3 py-1 bg-stone-400 text-stone-900 rounded hover:bg-rose-600 hover:text-rose-200">Remove Item</button>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <h3 class="ml-1 pt-1 pb-20 text-lg">No Items Added to Wishlist</h3>
    {{/if}}
  </div>
</section>

{{#if wishlists.length}}
<script src="/javascript/delete-wishlist.js"></script>
{{/if}}