#checkout-button {
    margin-top: 5px;
}

.hidden {
    display: none;
}

.checkoutTitle {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
}

.totalPrice {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.checkout-form {
    border: 2px solid black;
    padding: 5px;
}
